@model Aluno

@{
    ViewData["Title"] = "Registro de Alunos";
}

<h2>Registro de Alunos</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="Nome" class="form-label"></label>
                        <input asp-for="Nome" class="form-control" placeholder="Nome do Aluno" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="Telefone" class="form-label"></label>
                        <input asp-for="Telefone" class="form-control" placeholder="Telefone" />
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group mb-3">
                        <label asp-for="Endereco" class="form-label"></label>
                        <input asp-for="Endereco" class="form-control" placeholder="Endereço" />
                        <span asp-validation-for="Endereco" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="Complemento" class="form-label"></label>
                        <input asp-for="Complemento" class="form-control" placeholder="Complemento" />
                        <span asp-validation-for="Complemento" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="Bairro" class="form-label"></label>
                        <input asp-for="Bairro" class="form-control" placeholder="Bairro" />
                        <span asp-validation-for="Bairro" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="Municipio" class="form-label"></label>
                        <input asp-for="Municipio" class="form-control" placeholder="Município" />
                        <span asp-validation-for="Municipio" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group mb-3">
                        <label asp-for="Uf" class="form-label"></label>
                        <input asp-for="Uf" class="form-control" placeholder="UF" maxlength="2" />
                        <span asp-validation-for="Uf" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group mb-3">
                        <label asp-for="Cep" class="form-label"></label>
                        <input asp-for="Cep" class="form-control" placeholder="CEP" />
                        <span asp-validation-for="Cep" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Finalizar Cadastro" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Retornar a lista de Alunos</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
